.add { 
    background-color: rgb(39, 179, 39);
    color: white;
    border: none;
    border-radius: 10%;
}

.close {
    color: white;
    background-color: red;
    padding: 2px 5px;
    border: none;
    border-radius: 10%;
}

